<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by me. It uses Mapbox's geolocation API to geocode the location to a set of coodinates and then uses Weatherstack API to get current weather.</p>
            <p>Made as part of demonstrating node asynchronity.</p>
        </div>
        {{>footer}}
    </body>
</html>